<div>
    <h2>Can you guess the password?</h2>
    <input type="text" [(ngModel)]="password" (input)="checkPassword()" placeholder="Let’s guess the password">
  
    <ng-container *ngFor="let constraint of constraints">
      <div *ngIf="constraint.visible" 
           [ngClass]="{'green': constraint.color === 'green', 'red': constraint.color === 'red'}">
        {{ constraint.text }}
      </div>
    </ng-container>

    <app-fireworks *ngIf="showFireworks"></app-fireworks>
    
    <div class="fireworks" [ngClass]="{'show': fireworksVisible}">
      <h1>Happy Birthday Yasmine! You deserve all the best ❤️</h1>
    </div>
  </div>